<div class="flex flex-col justify-around h-full overflow-auto text-white">
  <div class="font-bold">
    <p class="text-3xl ">Hi,</p>
    <p class="text-3xl">I am Danz</p>
    <p class="text-3xl">a web developer and mobile developer</p>
    <p class="text-gray-600 text-sm font-normal my-3">Fullstack Developer \ Mobile Developer</p>
  </div>
  <div class="flex flex-row gap-2 ">
    <button type="button"
      class="align-middle font-bold uppercase transition-all border border-blue px-3 py-2 rounded hover:bg-black hover:text-white"
      (click)="goTo('/offer')">My
      Offer</button>
    <button
      class="select-none align-middle font-bold uppercase transition-all border border-blue px-3 py-2 rounded hover:bg-black hover:text-white"
      (click)="goTo('/project')">My
      Projects</button>
  </div>
</div>
