<nav class="flex flex-col justify-around h-full w-80 bg-red-500 p-5 overflow-auto" [style]="{
  backgroundColor: 'rgba(0,0,0,.5)',
  }">
  <div class="flex flex-col gap-5 text-base text-white">
    <!-- Header -->
    <div class="flex flex-col gap-2 items-center">
      <img src="https://picsum.photos/200" alt="avatar"
        class="relative inline-block !rounded-full object-cover object-center">
      <p class="font-bold text-xl">DANAR PUTRA PRADANA</p>
      <p class="text-sm font-medium">FULLSTACK DEVELOPER</p>
    </div>

    <!-- Main Menu -->
    <div class="flex flex-col gap-2">
      <a class="transition-colors hover:text-blue hover:underline hover:underline-offset-4"
        [routerLinkActive]="['underline', 'underline-offset-4', 'decoration-blue']" routerLink="home">Home
      </a>
      <a class="transition-colors hover:text-blue hover:underline hover:underline-offset-4"
        [routerLinkActive]="['underline', 'underline-offset-4', 'decoration-blue']" routerLink="offer">My Offer
      </a>
      <a class="transition-colors hover:text-blue hover:underline hover:underline-offset-4"
        [routerLinkActive]="['underline', 'underline-offset-4', 'decoration-blue']" routerLink="contact">Contact Me</a>
    </div>
    <div class="flex flex-col gap-2 items-start">
      <a class="transition-colors hover:text-blue hover:underline hover:underline-offset-4" routerLink="contact"
        routerLink="cv" [routerLinkActive]="['underline', 'underline-offset-4', 'decoration-blue']">My
        CV</a>
      <div class="flex flex-row items-end gap-2">
        <button disabled
          class="cursor-pointer transition-colors hover:underline hover:underline-offset-4 disabled:opacity-50 disabled:">My
          Blog </button>
        <span class="text-xs opacity-50">Coming Soon</span>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <p class="text-sm">Get in Touch</p>
      <div class="flex flex-row gap-2">
        <a href="https://www.linkedin.com/in/danar-putra-pradana-8b26a71b1/" target="_blank" type="button">
          <fa-icon [icon]='faLinkedin' size="xl"></fa-icon>
        </a>
        <a href="mailto:danarputrapradana@yahoo.com" type="button">
          <fa-icon [icon]='faEmail' size="xl"></fa-icon>
        </a>
        <a type="button" href="https://github.com/putra4648/" target="_blank">
          <fa-icon [icon]='faGithub' size="xl"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
