@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-saira-stencil);
}

@plugin "@tailwindcss/typography";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "my-theme";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #22234e;
    --color-base-200: #151538;
    --color-base-300: #080721;
    --color-base-content: #dbfbe6;
    --color-primary: #00baa6;
    --color-primary-content: #effcf9;
    --color-secondary: #605dff;
    --color-secondary-content: #edf1fe;
    --color-accent: #7acc00;
    --color-accent-content: #f5fce5;
    --color-neutral: #00a43b;
    --color-neutral-content: #effcf3;
    --color-info: #00a4f2;
    --color-info-content: #edf7fd;
    --color-success: #00ba7b;
    --color-success-content: #e9faf2;
    --color-warning: #eeaf00;
    --color-warning-content: #fcfae6;
    --color-error: #f82834;
    --color-error-content: #fef2f2;
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}