<nav
  class="mx-auto block w-full rounded-b border border-white/80 bg-white bg-opacity-80 px-6 py-3 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200">
  <div class="flex flex-row justify-stretch items-center text-blue-gray-900">
    <a href="#"
      class="mr-4 block cursor-pointer py-1.5 font-sans text-xl  font-semibold leading-relaxed tracking-normal text-inherit antialiased">
      About Me.
    </a>
    <div class="ml-auto flex flex-row gap-3">
      <a href="#" class="block cursor-pointer text-base font-semibold transition-colors hover:text-blue-300">Home</a>
      <a href="#"
        class="block cursor-pointer text-base font-semibold transition-colors hover:text-blue-300">Projects</a>
      <a href="#" class="block cursor-pointer text-base font-semibold transition-colors hover:text-blue-300">Contact</a>
    </div>
    <div class="ml-5 flex divide-x divide-gray-300 flex-row ">
      <button
        class="px-4 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all border-r-0 rounded-lg rounded-r-none select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
        type="button">
        <fa-icon [icon]="faLinkedin" size='xl'></fa-icon>
      </button>
      <button
        class="px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all border-r-0 rounded-lg rounded-r-none select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
        type="button">
        <fa-icon [icon]="faEmail" size="xl"></fa-icon>
      </button>
    </div>
  </div>

</nav>
