<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
    <script th:src="@{/webjars/pdfobject/pdfobject.min.js}"></script>
  </head>
  <body>
    <div class="container-fluid vh-100">
      <div class="col">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
      </div>
      <div class="col h-100">
        <div class="mx-3 row h-100">
          <div class="col align-self-center">
            <h1>
              <b> I'm Danar Putra Pradana, Fullstack Java Developer </b>
            </h1>
            <h6>
              A programmer with more than 1 year of experience has likely gained
              a solid understanding of coding languages, software development
              processes, and problem-solving skills. With over a year in the
              field, the programmer may have worked on various projects, honing
              their abilities to write efficient and effective code. This
              experience can also provide them with insights into best practices
              and industry standards, allowing them to contribute meaningfully
              to development teams and projects.
            </h6>
            <button
              type="button"
              class="btn btn-primary"
              onclick="downloadCV()"
            >
              Download CV
              <i class="fa-solid fa-file-arrow-down"></i>
            </button>
          </div>
          <div class="col">
            <div class="d-flex flex-row justify-content-end">
              <button class="btn" type="button">
                <i class="fa-brands fa-github"></i>
              </button>
              <button class="btn" type="button">
                <i class="fa-brands fa-linkedin"></i>
              </button>
              <button class="btn" type="button">
                <i class="fa-solid fa-at"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Preview</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div id="my-pdf"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const modal = new bootstrap.Modal("#myModal");

    $(function () {
      document
        .getElementById("myModal")
        .addEventListener("shown.bs.modal", (event) => {
          PDFObject.embed("/download-cv", "#my-pdf", {
            height: "100vh",
            widtH: "100vw",
          });
          modal.handleUpdate();
        });
    });

    function downloadCV() {
      if (PDFObject.supportsPDFs) {
        modal.show();
      } else {
        alert("Sorry this browser is not supported. Please use other browser.");
      }
    }
  </script>
</html>
