<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
  </body>

  <script th:src="@{/js/index.js}"></script>
</html>
