<div class="flex flex-col justify-around h-full overflow-auto text-white">
  <div>
    <p class="text-2xl font-bold">My Offer</p>
    <p class="">For more than 2 years I have experience as a fullstack developer, every day I spend time learning
      things related to web developers or mobile developers. and here are some of the benefits if you work with me</p>
    <ul class="list-none underline">
      <li>Ease of maintenance</li>
      <li>Clean and easy to understand code</li>
      <li>Well written documentation</li>
      <li>Worry free</li>
      <li>Responsiveness</li>
      <li>Good communication</li>
      <li>Good feedback</li>
    </ul>
  </div>

  <div class="grid grid-cols-3 gap-3">
    <div>
      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">
          Frontend Framework
        </h2>
        <div
          class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
          <span><fa-icon [icon]="faAngular"></fa-icon> Angular</span>
        </div>
        <div
          class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
          <span><fa-icon [icon]="faReact"></fa-icon> React</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Backend Framework</h2>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faSpring" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Springboot
          </div>
        </div>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Fastify</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faFastify" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Fastify
          </div>
        </div>

      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Database</h2>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>MySQL / MariaDB</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faMySQL" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            MySQL
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Oracle</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faOracle" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Oracle SQL
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>MongoDB</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faMongoDB" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            MongoDB
          </div>
        </div>

      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Mobile Development</h2>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Flutter</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faFlutter" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Flutter
          </div>
        </div>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faReact"></fa-icon> React Native</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Tools</h2>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>VSCode</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faVSCode" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            VSCODE
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Neovim</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faNeovim" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Neovim
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Postman</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faPostman" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Postman
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faDocker"></fa-icon> Docker</span>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faGit"></fa-icon> Git</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Language</h2>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faHTML"></fa-icon> HTML</span>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faCSS"></fa-icon> CSS</span>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span> <fa-icon [icon]="faJS"></fa-icon> Javascript</span>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <span><fa-icon [icon]="faJava"></fa-icon> Java</span>
      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Dart</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faDart" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Dart
          </div>
        </div>

      </div>
      <div
        class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
        <!-- <span>Typescript</span> -->
        <div class="flex flex-row items-center gap-1">
          <svg-icon class="inline-block align-middle" [src]="faTypescript" [style]="{'height': '10px', 'width': '10px'}"
            [stretch]="true"></svg-icon>
          <div>
            Typescript
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
