/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #54577c;
  --ifm-color-primary-dark: #4c4e70;
  --ifm-color-primary-darker: #474a69;
  --ifm-color-primary-darkest: #3b3d57;
  --ifm-color-primary-light: #5c6088;
  --ifm-color-primary-lighter: #61648f;
  --ifm-color-primary-lightest: #70749e;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ecffb0;
  --ifm-color-primary-dark: #e2ff85;
  --ifm-color-primary-darker: #dcff6f;
  --ifm-color-primary-darkest: #cdff2f;
  --ifm-color-primary-light: #f6ffdb;
  --ifm-color-primary-lighter: #fcfff1;
  --ifm-color-primary-lightest: #ffffff;
}
