/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #8ecae6;
    --ifm-color-primary-dark: #70bcdf;
    --ifm-color-primary-darker: #60b5dc;
    --ifm-color-primary-darkest: #339fd2;
    --ifm-color-primary-light: #acd8ed;
    --ifm-color-primary-lighter: #bcdff0;
    --ifm-color-primary-lightest: #e9f5fa;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #023047;
    --ifm-color-primary-dark: #022b40;
    --ifm-color-primary-darker: #02293c;
    --ifm-color-primary-darkest: #012232;
    --ifm-color-primary-light: #02354e;
    --ifm-color-primary-lighter: #023752;
    --ifm-color-primary-lightest: #033e5c;
}
